body{
   overflow: hidden;
   height: 100vh;

}
header{

background: white;
    border-bottom:1px solid #ff4b00;
 
    
}
nav{
    z-index:10;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
#logo img{
    height: 65px;
}
#home{
    height:2rem;
    width:30px;
    position:absolute;
    z-index: 5;
    right:0;
    top:10%;
    margin-right:40px;

}

#home:hover{
   
    transition: 0.2s ease-in-out;
    border-bottom:3px solid #ff4b00;
}

menu{
    width: 40%;
    
}
menu ul{
    justify-content: space-around;
   
}
li,a{
    list-style:none;
    text-decoration:none;
    color:white;
    font-size:20px;
}
.banner{

  height: 100vh;
    width: 100vw;
  
}
#background-banner{
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;

}
#description{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    z-index:9;
    color:white;
    width:30%;
  
}

#description h1{
    text-transform:uppercase;
    color:#ff6a28;
   

}
#description h3{
    color: #ff4b00
}
#description button{
width:250px;
height:50px;
}

section{
    height:200px;
    width:100vw;
    
    position:absolute;
    bottom:0;
    
}
.container i{
    color: white;
    z-index: 99;
    font-size: 50px;

    
}
/* #gradient{
    background-image: linear-gradient(to right, rgb(183, 183, 183),transparent);
    position: absolute;
    height: 100vh;;
    width:100vw;
    top:0;
    z-index:-1;
} */
#backImg img{
    position: absolute;
    height: 100vh;;
    width:100vw;
    top:0;
    z-index:-2;
}
.btns{
    height: 100vw;
    width: 50vw;
    position: absolute;
    right: 0;

}
.buttonMR{
    position:absolute;
    display: none;
    z-index: 10;
    right: 30%;
    top: 20%;
    border-radius:30px;
    width:30px;
    border:none;
    outline:none;
    background-color: #ff6a28;
    color: white;

}

.buttonMR:hover{
    transform: scale(1.1);
    transition:0.2s linear;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border:2px solid #ff4b00;
    
}
.miniaturas{
    width:100%;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
   
  
  

}
.item{
    height:170px;
    width: 300px;
    margin-top:-30px;
    overflow: hidden;
    position:relative;
   
   
}
#sub-desc-area p{
    color: gray;
}
#mn-item-1{

background-image: url(/imagens/bolo\ de\ cenoura);
background-size:cover;

}
#mn-item-2{
    background-image: url(/imagens/lasanha.webp);
    background-size:cover;
    background-position: center;
}

#mn-item-3{
        background-image: url(/imagens/strog.jpg);
        background-size:cover;
        background-position: center;
        
}

#mn-item-4{
            background-image: url(/imagens/fejoada);
            background-size:cover;
            background-position: center;
           
            
}
            

.item:hover{
transform: scale(1.1);
transition:0.3s ease-in-out;
border: 3px solid white;
border-radius: 15px;

}

#hover-description{
 
position:absolute;
top:100%;
   

}
.item:hover > #hover-description{
    top:0%;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(7px);
}
#sub-desc-area{
    padding: 10px;

}
.card-btn{
   outline: none;
   border:none; 
   border-radius: 30px;
   background-color: #ff6a28;
 
}
.card-btn:hover{

   background-color: transparent;
   border:2px solid #ff4b00;
   transition: 0.2s linear;
   color:white
}


@keyframes cardHidden{
     0%{
        transform: scale(1.1);
     }
     100%{
        transform: scale(0.0)     }
}
